@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:'Monlam';
    src:url('MonlamTBslim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
::-webkit-scrollbar{
    display: none;
  }
  